.custom-select {
  background: var(--color-blue-blur-500);
  border-radius: 6px;
}

.dropdown-select {
  width: 28px;
  height: 28px;
  background: var(--color-aqua);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
